<div class="footer-div">
    <div class="email-div">
        <p class="email-txt">Seja notificado!</p>
    
        <div class="email-box">
            <input type="email" class="email-input" placeholder="E-mail"><br>
        
            <input type="checkbox" class="checkbox"><label>Quero ser prestador</label>
            <input type="checkbox" class="checkbox"><label>Quero contratar</label><br>
            <button id="email-btn">Enviar</button>
        </div>
        
    </div>
    
        <div>
            <a href="index.html"><img class="logo-footer" src="./assets/yellow-blue.png"></a>
        </div>
    
        <div class="icons">
            <a href="#"><img class="icon" src="assets/facebook.png"></a>
            <a href="#"><img class="icon" src="assets/instagram.png"></a>
            <a href="#"><img class="icon twitter-icon" src="assets/twitter.png"></a>
            <br>
        </div>  

</div>
    

    