* {
    padding: 0;
}

.hero-img {
    width: 100%;
    height: 90vh;
}

.hero-txt {
    background-color: #ffc242;
    padding: 100px 50px;
    height: 90vh;
}
    
p{
    color: #fff;
    line-height: 2.5;
    font-size: 2em;
    text-align: center;
}
   

