<div class="row">
    <div class="col-12 hero-img">
        <div class="row">
            <div class="col-7">
            </div>
    
            <div class="col-5 align-baseline">
                <p class="hero-txt">Fácil & <br> Rápido & <br> Acessível</p>
            </div>
        </div>
    </div>
</div>

<!--Usability-adapted version 
<div class="container-fluid ease-transition hero-img">
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-9">
            <p class="hero-txt">#PedeUmaSantaAjuda
            <span>
                <p class="main-txt">
                    <br>
                    O app que te conecta aos melhores 
                    profissionais de todos os serviços!
                </p>        
            </span>
            </p>
        </div>

        <div class="3">
        </div>
    </div>
</div> -->