<div class="row" style="border: 1px solid black;">
    <div class="col-12 text-center">
        <img src="./assets/yellow-blue.png" class="logo-center">
    </div>
</div>

<div class="row">
    <div class="col-2" style="border: 1px solid red;">

    </div>

    <div class="col-3" style="border: 1px solid blue;">
        <div class="sectiontwo-desc">
            <p class="animate__animated animate__fadeInUp">O app que te conecta aos melhores profissionais de todos os serviços.</p>
        
            <hr class="blue-square"/>
        </div>
    </div>

    <div class="col-6" style="border: 1px solid green;">
        <img src="assets/smiling.jpg" class="sectiontwo-img">
    </div>
    
    <div class="col-1">

    </div>
    
</div>


