<section>
    <div class="row">
        <div class="col-7" style="border: 1px solid black">
            <p>Entrar</p>

            <label>Email</label>
            <input type="email">

            <label>Senha</label>
            <input type="password">

            <button>Entrar</button>
        </div>


        <div class="col-5" style="border: 1px solid red"> 
            <p>Cadastrar</p>

            <label>Nome completo</label>
            <input type="text">

            <label>Email</label>
            <input type="email">

            <label>Senha</label>
            <input type="password">

            <label>Repetir senha</label>
            <input type="password">

            <button>Cadastrar</button>

        </div>
    </div>

    <div class="row">
        <div class="col-7" style="border: 1px solid black">
            <p>Cadastrar</p>

            <label>CEP</label>
            <input type="number">

            <label>Rua</label>
            <input type="text">

            <label>Número</label>
            <input type="number">

            <label>Estado</label>
            <input type="text">

            <label>Cidade</label>
            <input type="text">

            <label>Bairro</label>
            <input type="text">
        </div>


        <div class="col-5" style="border: 1px solid red"> 
            <label>Documento</label>
            <input type="text">

            <label>Foto</label>
            <input type="submit">

            <input type="checkbox"><label>Prestador</label>
            <input type="checkbox"><label>Cliente</label>

            <button>Cadastrar</button>
        </div>
    </div>
</section>