<!--Navigation and side menu are here because they appear in every page-->

<header id="header">
  <nav class="navbar navbar-expand-sm navbar-light">
    <div class="container">
      <div class="row">
        <div class="col-1">
        </div>
        
        <div class="col-11">
          <a href="index.html" class="navbar-brand">
          <img id="logo" src="./assets/yellow-blue.png" alt="Sua Ajuda | Seu app de serviços!">
          </a>
          
        </div>
      </div>
        
    </div>    
  </nav>
</header>

<app-section-main></app-section-main>
<app-section-two></app-section-two>
<app-section-three></app-section-three>
<app-section-four></app-section-four>
<app-section-footer></app-section-footer>
<app-register-form></app-register-form>
<app-service-list></app-service-list>
