<!--Section three-->
<div class="container-fluid">
    <div class="row">
        <!--Just some spacing-->
        <div class="col-1">
        </div>
        <!--Hero image of this section-->
        <div class="col-md-5">
            <img class="sectionthree-img" src="assets/engineer2.png">
        </div>

        <!--Countdown for the release and blue rectangle-->
        <div id="finalDay" class="col-5 sectionthree-txt animate__animated animate__fadeInUp sectionthree-txt">
            <p>Faltam <span id="countdown"></span> 
            para te ajudar a resolver seus problemas de forma mais simples!
            </p>
    
            <hr class="blue-square"/>
        </div>
        <!--Some more spacing-->
        <div class="col-1">
        </div>
    </div>    
</div>
