* {
    padding: 0;
    overflow: hidden;
}

.sectionthree-img {
    width: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color:  #ffc20f;
    line-height: 2;
}

hr {
    background-color: #1e68a5;
    outline: none;
    margin-left: auto;
    
}

#countdown {
    color: #1e68a5;
}

/*Small devices*/ 
@media (max-width: 512px) {
    
    .sectionthree-txt {
        font-size: 20px;
        background-color: beige;
        padding: 10px;
        position: absolute;
        top: 6;
        right: 0;
        margin-left: 500px;
        height: 35%;
    }

    .blue-square {
        width: 100px;
        height: 3px;
    }
}

/*Medium devices*/ 
@media (min-width: 513px) and (max-width: 953px) {
    
    .sectionthree-txt {
        font-size: 30px;
        background-color: beige;
        padding: 10px;
        position: absolute;
        top: 6;
        right: 0;
        margin-left: 500px;
        height: 40%;
    }

    .blue-square {
        width: 150px;
        height: 5px;
    }
}

/* Large devices*/
@media (min-width: 954px) { 

    .sectionthree-txt{
        font-size: 30px;
        text-align: right;
    }

    .blue-square {
        width: 200px;
        height: 7px;
    }
}