<!--<section>

    <!--Section for user picture and welcome message
    <div class="row">
        <div class="col-3" style="border: 1px solid black">
            <div style="border: 1px solid black">
                <img src="./assets/smiling.jpg" width="200px">

                <p>Bem vindo, Fulano!</p>
            </div>
        </div>

        <div class="col-9">
        </div>
    </div>

    <!--Section for dropdown with available services-
    <div class="row">
        <div class="col-12" style="border: 1px solid red"> 
            
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Selecione
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>

    <!--Section for historic of conversations
    <div class="row">
        <div class="col-12" style="border: 1px solid red"> 
            
            <h1>Últimas conversas</h1>

            <!--If there's any conversation, replace this div by a div with the list of conversations
            <div>
                <p>Você ainda não tem conversas com prestadores de serviço.</p>
            </div>

            <!--Div with list of conversations
            <div>
                <ul>
                    <li><a href="#">Conversa 1</a></li>
                </ul>

            </div>
            
            <a href="#">Procurar um prestador de serviço</a>

        
            <!--Div for search menu
            <div class="sidenav">
                <a href="#"></a>
                <a href="#"></a>
            </div>

        </div>
    </div>

    <!--Section for the profiles of available service providers
    <div class="row">
        <div class="col-12 text-center">
            <p>Perfil do Fulano</p>
            <img src="./assets/smiling.jpg" width="200px">
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button>Chamar no chat</button>
        </div>
    </div>
   
    <!--Section to register credit card
    <div class="col-12" style="border: 1px solid red"> 
        <p>Cartão</p>

        <label>Nome como está escrito no cartão</label>
        <input type="text">

        <label>Número do cartão</label>
        <input type="number">

        <label>Data de vencimento</label>
        <input type="text">

        <label>Código de segurança</label>
        <input type="number">

        <button>Cadastrar</button>
    </div>

    <!--Section where clients can evaluate service providers

    <!--Section to register credit card
    <div class="col-12" style="border: 1px solid red"> 
        <p>Avaliação</p>

        <label>Estrelas</label>
        <input type="text">

        <label>Comentários</label>
        <input type="text">

        <button>Enviar</button>

    </div>
    
</section>-->