* {
    padding: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
    

/*Small devices*/
@media (max-width: 512px) {

    .sectionfour-img {
        height: 40vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/assets/usingphoneweb.png)
    }

    .sectionfour-txt1 {
        color:  #ffc20f;
        font-size: 25px;
        text-align: center;
        padding: 100px 20px 80px 20px;
    }
    
    .sectionfour-txt2 {
        color:  #1e68a5;
        font-size: 25px;
        align-items: start;
        padding-bottom: 80px;
    }
}

/*Medium devices*/ 
@media (min-width: 513px) and (max-width: 953px) {

    .sectionfour-img {
        height: 50vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/assets/usingphoneweb.png)
    }

    .sectionfour-txt1 {
        color:  #ffc20f;
        padding-top: 180px;
        padding-bottom: 60px;
        font-size: 25px;
    }
    
    .sectionfour-txt2 {
        color:  #1e68a5;
        padding-top: 60px;
        padding-bottom: 100px;
        font-size: 25px;
    }

}

/* Large devices*/
@media (min-width: 954px) {
    
    .sectionfour-img {
        height: 50vh;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/assets/usingphoneweb.png)
    }

    .sectionfour-txt1 {
        color:  #ffc20f;
        padding-top: 180px;
        padding-bottom: 60px;
        font-size: 30px;
    }
    
    .sectionfour-txt2 {
        color:  #1e68a5;
        padding-top: 60px;
        padding-bottom: 100px;
        font-size: 30px;
    }

}

/*Mobile

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }
.sectionfour-div{
    width: 100%;
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 8em;
}

.sectionfour-img {
    width: 100%;
    height: 20vh;
    background-image: url(/assets/usingphone.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.sectionfour-txt1 {
    position: relative;
    text-align: center;
    width: 20em;
    padding-bottom: 7em;
    color:  #ffc20f;
}

.sectionfour-txt2 {
    position: relative;
    text-align: center;
    width: 20em;
    color:  #1e68a5;
    padding-top: 4em;
}
*/