<div class="container-fluid">
    <!--Section Four-->
    <div class="section-four">
        <div class="row">
            <div class="col-12 text-center sectionfour-txt1"> 
                <p>Em breve estaremos disponíveis em qualquer lugar...</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 sectionfour-img">
            </div>
        </div>

        <div class="row d-flex align-items-baseline">
            <div class="col-12 text-center sectionfour-txt2">
                <p>E a qualquer momento!</p>
            </div>
        </div>
    </div>
</div>


